In [1]:
from ReplyDB import ReplyDB
db = ReplyDB("100,000rows.json")

In [2]:
import random
names = [
    "Emma", "Olivia", "Lena", "Sarah", "Sophia", "Isabella", "Mia", "Charlotte", "Ava", "Emily",
    "Ethan", "William", "Alexander", "Michael", "Daniel", "James", "Benjamin", "Bowery", "Oliver", "Lucas",
    "Mia", "Harper", "Joe", "Chloe", "Grace", "Lily", "Ella", "Amelia", "Aubrey", "Hailey",
    "Nolan", "Jacob", "Matthew", "Samuel", "David", "Joshua", "Logan", "Jackson", "Mason", "Luke",
    "Aria", "Ellie", "Madison", "Addison", "Natalie", "Victoria", "Layla", "Evelyn", "Anna", "Sophia",
    "Adam", "Dylan", "Jayden", "Sebastian", "Taylor", "Andrew", "Gavin", "Max", "Ryan", "Christian"
]

In [3]:
db.insert([{
    "content": "hello "+random.choice(names),
    "like": random.randint(0,1000)
  } for i in range(100000)])

In [4]:
db.find(db["like"]>=500)

            content  like                                      _id
2       hello Mason   560  170842851000637900082872582585827278396
3       hello Sarah   795  159688017136178201987221996873114637933
4      hello Aubrey   705  263209035999004275841546552770139323714
5       hello James   527   72108764089579667192198966214772926001
6        hello Lena   626  106209173551098257477965148000028188285
...             ...   ...                                      ...
99995     hello Mia   896  141732483170101536236934681051737346124
99996  hello Amelia   685  292322224146788852447653118295859841484
99997   hello Ethan   655   14138505836724443048154966913151829980
99998     hello Max   711  339693399712523066455529127230029048484
99999     hello Mia   704   37884926855528011006491949519357253846

[49963 rows x 3 columns]

In [5]:
db.create_search_index("content")

In [6]:
db.search("content","Bowery")

0    155382818801529477488570841723171197593
1     26343981731024095212530239768203489457
2    156451276446102706709782884838479906488
3     63948094261195295027251773509421382351
4    161907994363823033262495869311251750441
5    131824488163137319593005605954930410335
6    147496414709757121822664766675554123545
7     75571059954552487175573703527929637836
8    298753587122813619035335141422737314263
9    108928429366087253998507963345022165413
dtype: object